/* Page Backgrounds */

/* http://www.colorzilla.com/gradient-editor/ */

[data-role="page"] {
  background: #fcfff4; /* Old browsers */
  background: -moz-linear-gradient(top,  #fcfff4 0%, #e9e9ce 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(100%,#e9e9ce)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fcfff4 0%,#e9e9ce 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fcfff4 0%,#e9e9ce 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fcfff4 0%,#e9e9ce 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fcfff4 0%,#e9e9ce 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#e9e9ce',GradientType=0 ); /* IE6-9 */
  /*font-family: 'Raleway', sans-serif;*/
}

blockquote {
  background: transparent;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  color: white;
}
blockquote:before {
  color: #fff;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  color: white;
}
blockquote p {
  display: inline;
  color: white;
}

.center {
  text-align: center;
}

button.ui-btn {
  background-color: gray !important;
  width: 100%;
}

#cameraBtn {
  text-align: right;
  padding-top: 15px;
  padding-left: 10px;
}

.panel {
  border: 1px solid rgba(255,255,255,0.1);
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  background-color: rgba(255,255,255,0.1);
}

#note {
  height: auto !important;
}

/* Overwriting the default, since this caused unncessary padding 
 * of title text when textarea was in focus */
.ui-header-fixed.ui-fixed-hidden {
  padding: 0px;
}

.entry-date {
  font-weight: bold;
}

#randomQuote {
  text-align: center;
  font-style: italic;
}

.entryActionBar {
  text-align: right;
  padding: 5px;
}